.character__list {
    height: 30em;
    width: 10em;
    overflow: hidden;
    overflow-y: hidden;
    padding: 0.5em;

    /* i changed the overflow-y to hidden in case that makes this not scroll anymore later */
}
.main--character  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 9em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.main--characterdetails{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20em;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
}
h4 {
    font-size: 1em;
    align-self: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 3em;
 align-self: center;
}

label {
    margin: 1px 1px 1px 1px;
    font-size: 1em;
    font-style: bold;

}

.addcharacter__name {
    font-size: 0.75em;
}

.character__details {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

form.addcharacter_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin: 20px 20px 20px 20px
}

fieldset.add__form {
    display: flex;

    flex-direction: column;
    align-self: center;
    justify-content: center;
    
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0.25em;
    justify-items: space-between;
    width: 20em;
    
    
    border-radius: 7px;
    font-family: 'Libre Franklin', sans-serif;
   
    grid-template-columns: 32% 32% 32%;
    margin: 35px 35px 35px 35px;
}



select {
    font-family: 'Libre Franklin', sans-serif;
}

.edit_characters {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: space-between;
    align-items: flex-end;

}

.edit__section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.delete__link {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: bottom;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    align-self: center;
    margin-left: 3em; /* Increased left margin */
    margin-top:1em;
}

h4.editcharacter__name {
    margin: 2px 2px 2px 2px;
    text-align: center;
}
.left--container--profile{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin: 20px 20px 20px 20px
}
.left--container--details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items:center;
    width: 15em;
    justify-self: center;
    margin: 20px 20px 20px 20px;
    flex: 1;
}
.right--container--details{
    display: flex;
    justify-content: space-around;
    align-self: center;
    justify-self: center;
    flex-direction: row;
    margin-top:3em;
    flex:3;
    padding: 0 0 0 0;
}
.edit__form {

    flex-direction: column;
    /*yes don't touch*/
    justify-items: space-between;
    width: 320px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    font-family: 'Libre Franklin', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    grid-template-columns: 32% 32% 32%;
    margin: 25px 25px 25px 25px;
}
.edit__form {

    flex-direction: column;
    /*yes don't touch*/
    justify-items: space-between;
    width: 320px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    font-family: 'Libre Franklin', sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    grid-template-columns: 32% 32% 32%;
    margin: 25px 25px 25px 25px;
}

.character--details{
    display:flex;
    
    justify-content: center;
}


select {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
}

.option {
    font-family: 'Libre Franklin', sans-serif;
}

button.save__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 3em;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 20px;
}

button.delete__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 3em;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 10px 5px 5px 5px;
}

.details {
    
    display: inline-block;
    font-size: 1em;
    margin: 10px 5px 5px 5px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 1em;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .input__text{
   float:left;
 }


.update__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 20px 5px 5px 5px;
}
input.form-control{
    max-width: 100%;
}

.details__element {
    width: 10%;
    height: fit-content;
}
input[type=text] {
    margin: 0.15em;
    padding: .5em;
    border-radius: 3px;
    justify-self: center;
    max-width: 20em;
}
input[type=url] {
    margin: 0.15em;
    padding: .5em;
    border-radius: 3px;
}
input[type=textarea] {
    margin: 0.15em;
    padding: .5em;
    border-radius: 3px;
}
/* .delete__link__button{
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 10px 5px 5px 5px;
} */
.link__button{
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 20px; 
}
.save__note__button{
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 20px; 
}
input.form-control{
    padding: 0.25em;
    width:auto;
    display: block;
    align-content: center;
    max-width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aaafb4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.character--notes{
    padding: 0.25em;
    width:auto;
    display: block;
    align-content: center;
    width: 94%;
    padding: .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aaafb4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none;
}
.image--detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.note--input{
    display: flex;
    flex-direction: column;
    width: 15em;
    padding: 0.2em;
}
.link--input{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.vod--links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.right--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top:3em;
    padding: 0 0 0 0;}
.input--edit--details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:3em;
    padding: 0 0 0 0;
}
.ReactModal__Overlay {
    background-color:#1D1D1E;}
.ReactModal__Content {
    background-color:#1D1D1E;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    background-color: #1D1D1E;
}
.ReactModalPortal {
   
    background-color: #1D1D1E;
}
.search_div{
    margin: 25px 25px 25px 25px;

}
.characterForm__title{
    margin: 25px 25px 25px 25px;
}
.add--character--modal{
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-top: 3em;
}



.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.header--bar{
    display: flex;
    justify-content: left;
    align-content: baseline;
    margin-top: 6.5em;
    margin-bottom: 3em;
    padding: 0 20px;
}
.modal--button {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0.15em;
    text-align: center;
    cursor: pointer;
    padding:1em;
    height: 4em;
    max-width: 15em;
    display: block;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .6em;
}

.generate--link--button{
    font-family: 'Libre Franklin', sans-serif;
    margin: 0.15em;
    text-align: center;
    cursor: pointer;
    padding:1em;
    height: 4em;
    max-width: 15em;
    display: block;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: green;
    border-color: green;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .6em; 
}