.h1, h1 {
    font-size: 2.5rem;
    padding-top: 0.3em;
}


.profile--page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  
  padding: 0;
}


input[type="email"] {
        margin: 0.15em;
        padding: 1em;
        border-radius: 3px;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.roster__link {
    margin: 3px;
    padding-bottom: 5px;
    color:#2196f3;
}
.left--container--profile{
  display:flex;
  flex-direction: row;
  padding-top: 3em;
 
}
.right--container--profile{
    display:flex;
    flex-direction: row;
    padding-top: 3em;
   
}
.container--login {
    text-align: center;
}
.form--update {
    display: flex;
    flex-direction: column;
    
    max-width: 25em;
    padding: 10px;
    /* border: 1px solid #c9c9c9;
    border-radius: 7px; */
    font-family: 'Libre Franklin', sans-serif;
    
    margin: 25px 0;
    height: 60%;
  }
  input.form--update{
    max-width: 5em;
  }
  .form--update > * {
    max-width: 25em;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  @media (max-width: 25em) {
    .form--update {
      flex-wrap: wrap;
    }
  
    .form--update > *:last-child {
      margin-bottom: 0;
    }
  }

.button--close {
    position: relative;
    bottom: -2rem;
}
.email__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin-top:2em;
    
}
.form--update fieldset{
    max-width: 100%;
    margin: 0;
}
.saved--rosters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.25em;
}

.savedroster--container{
    display: flex;
    flex-direction: column; 
    padding: 2em;
    justify-items: space-between;
}
.delete__roster {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    margin: 0.25em;
    flex-direction: flex-end;
    
}
.private__roster{
  background: #570B08;
  padding: 0.25em;
  margin: 0.25em;
}

.publish__roster{
  
  padding: 0.25em;
  margin: 0.25em;
}