.h1, h1 {
    font-size: 2.5rem;
}


.main{
    display: flex;
    flex-direction: column;
}


.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.roster__link {
    margin: 3px;
    padding-bottom: 5px;
    
}

.container--login {
    text-align: center;
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}
.email__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
}

.delete__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
}