.h1, h1 {
    font-size: 2.5rem;
}


.profile--page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.form--login > fieldset > input[type="email"] {
    width: 15em;
}
fieldset {
    margin: 2px;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.roster__link {
    margin: 3px;
    padding-bottom: 5px;
    
}

.container--login {
    text-align: center;
}

.form--update {
    display: flex;
    flex-direction: column;
    background-position-x: left;
    z-index: 1;
    min-height: 20rem;
    min-width: 20rem;
    background-color: transparent;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin:4em;
    align-self: left;
}

.button--close {
    position: relative;
    bottom: -2rem;
}
.email__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    
}
.saved--rosters {
    display: flex;
    flex-direction: row;
}

.savedroster--container{
    display: flex;
    flex-direction: column; 
    padding: 2em;
    justify-items: space-evenly;
}
.delete__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    
}
