.details__element {
    position: absolute;
    top: 10em;
    left: 20em;
    transform: translate(-50%, -100%);
    z-index: 1;
    align-items: center;
    background-color:#000000;
  }
  .character__details:hover>.character__details {
      opacity: 1.0;
      background-color: transparent;
  }
  .details {
      position: center;
  }
  .character__details {
      opacity: 0.0;
      
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
  }


  
  .details--popup{
    position: absolute;
    top: 10em;
    left: 20em;
    transform: translate(-50%, -100%);
    z-index: 1;
    align-items: center;
    background-color:#000000;
  }


          .message{
            background-color: #000000;
            border: dotted, 3px, goldenrod;
          }
/* .h3{} character name header*/ 
              
                  


