.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5em;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 3px;
}

.input__text::placeholder {
  color: #B3B8BC;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.search__button:hover{
  background: lightgreen;
}

.search__button{
  font-family: 'Libre Franklin', sans-serif;
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: #07621a;
  border-color: #095d25;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
  margin: 1.5em;
 
}
 .reset__button {
  margin: .5em;
  margin-top: 30px;
  font-family: 'Libre Franklin', sans-serif;
  
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  color: #fff;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: transparent;
  border-color: #570B08;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
  flex-direction: flex-end;
  border-radius: 3px;
 }

 .reset__button:hover{
  background: darkred;
 }

input[type=text] {
  margin: 0.15em;
  padding: 1em;
  border-radius: 3px;
}



/* reset input */
form:required,
.form__field:invalid {
  box-shadow: none;
}

/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

fieldset {
  display: flex;
  align-items: row;
  padding: 0.5em;
}

label {
  font-weight: bold;
  color: #9b9b9b;
  display: block;
  top: 0;
  transition: 0.2s;
}

select {
  margin: 0.15em;
  padding: 0.15em;
  border-radius: 3px;color: #9b9b9b;
}


.filter__buttons {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


