.parent {
    display: grid;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    width:fit-content;
    height: 40em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    border: 1px rgb(107, 21, 4);
    -webkit-box-shadow: 2px 4px 23px 4px #000000; 
box-shadow: 2px 4px 23px 4px #000000;
border: 5px hidden transparent;
border-radius: 6px 6px 6px 6px;
background-color: #272624;
position: sticky;
 }

.roster__choices {
    display: flex;
    justify-content: space-between;
    padding: 1.45em;
    text-size-adjust: 2;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 3em;
  max-height: 1em;
  align-content: center;
  margin: 15px 10px 30px 10;
}
.roster__choices:hover {
  background-color: transparent;
}
  button.roster__remove  {
   
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 25px;
    margin: 30px 10px 5px 10;
    color: #fff;
    vertical-align:bottom;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    align-items: bottom;
   
    
}