 .character__list {height:100%; width:30%;overflow:hidden; overflow-y:scroll}

.body {
  display: flex;
  flex-direction: row;
}

.character__details {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.detail__button {
    align-items: flex-end;
    width:fit-content;
    height:20px;
    background-color:green;
    margin-bottom:15px;
}
.character__details:hover > .character__details {
    opacity: 1.0;
}

.details {
    position: center, right;

}
.add__button{
    position: bottom;
}

.list__container {
    width: 30%;
    height: 100vh;
}
.details__element {
    width: 10%;
    height: fit-content;
}
