.parent {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: aquamarine;
    border: 2px dotted rgb(107, 21, 4);
    }
.roster__choices {
   max-block-size: 6em; width: 5em;
    height: 3em;
    padding: 2em;
    text-size-adjust: 2;
    flex-wrap: wrap;
}