

 .body {
     display: flex;
     flex-direction: row;
 }

 .add__button {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
    flex-direction: flex-end;
   }
  

 .character__details {
     opacity: 0.0;
     
     -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
     -ms-transition: all 500ms ease-in-out;
     -o-transition: all 500ms ease-in-out;
     transition: all 500ms ease-in-out;
 }
  
 .save__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
 }

 .new__button {
    font-family: 'Libre Franklin', sans-serif;
    display: inline-block;
    outline: 0;
    text-align: center;
    cursor: pointer;
    height: 34px;
    padding: 0 13px;
    color: #fff;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all .3s ease;
    background: #570B08;
    border-color: #570B08;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 11px;
 }
 .save__button:hover {
    background-color: lightgreen;
 }
 .new__button:hover {
    background-color: darkgreen;
 }

 .save__div {
     flex-direction: row;
     justify-content: flex-end;
     align-self: right;
 }

 .character__details:hover>.character__details {
     opacity: 1.0;
     background-color: transparent;
 }



 .details {
     position: center;

 }

 

 .list__container {
     width: 40%;
     height: 60%;
     background-color: none;
 }


 /* this is the pop up details element */
 .details__element {
     width: 25%;
     height: fit-content;
     position: relative;
     background-color: transparent; 
    position: sticky;
    top: 10px;
    left: 25px;
    width: 250px; 
    align-items: center;
    justify-items: center;
 }

 .character__card {
    display: flex;
    flex-wrap: nowrap;
    width: 15em;
    justify-content:space-between;
 }

 .character__list {
    height: 35em;
    width: 15em;
    scrollbar-width:0;
    overflow: hidden;

    overflow-y:scroll;
        padding: 0.5em;
        
        
        
/* i changed the overflow-y to hidden in case that makes this not scroll anymore later */



}


