.parent--public--boards {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin-top: 6em;
    justify-content: space-between;
  }
  
  .left--container--public {
    display:flex;
    min-width: 60em;

flex-direction: column;
    align-items: center;
  }
  .list--parent{
    justify-content: center;
    min-width: 30em;
    align-items: center;
  }
 .public-rosters{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:1em;
    font-size: 1em;
    font-weight: 600;

  }

.right--heading{
   
    text-align: center;
}
.sub--heading{
   font-size: x-small;
    text-align: center;
}
  .right-container--public {
    align-items: center;
     width:20em;
     margin-right:5em;
     align-content:center;
     height:100%;
  }
  .left-container--public,
  .right-container--public {
    flex-shrink: 0;
  }
  .public-rosters{
    text-decoration: none;
    color: #2196f3;
    font-size: 1.5em;
    font-weight: 600;
    
  }
  .twitch-parent {
    
    flex-direction: column;
    height: 100%;
  }
  
  .video-parent {
    flex: 1;
    margin-bottom: 10px;
  }
  
  .chat-parent {
    flex: 1;
  }
  .video-parent,
.chat-parent {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 aspect ratio */
  margin-bottom: 20px;
}

.video-iframe,
.chat-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
