input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}



*{
  background-color: #1D1D1E;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231c1b1e' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%231c1a1e' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%231e181e' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%231e171c' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%231e1619' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%231d1415' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%231D1513' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E"); */
  background-attachment: fixed;
  background-size: cover;
color: 
  #B3B8BC;
  font-family: 'IM Fell DW Pica', serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
  
  font-size: .7em;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color  100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(108, 108, 115);
  background:transparent;
  display: block;
  height: 2em; 
  
}


input[type=email] {
  
  font-size: 18px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color  100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(108, 108, 115);
  background:transparent;
  display: block;
  height: 36px; 
}


input:focus{
      border-color: #1D1D1E;
      background:rgb(30 24 30 / 90%);
  }

  input:hover {
  border-color: #B3B8BC;
   } 
  
.feedback {
  border: 1px dotted cadetblue;
  padding: 1rem;
  background-color:#1D1D1E;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  animation: 1s slideDown;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.error {
  border: 1px dotted rgb(107, 21, 4);
  padding: 1rem;
  background-color: rgb(255, 229, 228);
}

@keyframes slideDown {
  0% {
    top: 0%;
  }

  100% {
    top: 20%;
  }
}


