.navbar {
    display: flex;
    
    justify-content: space-evenly;
    align-items: left;
    /* position:sticky; */
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

