

 h1, h2 {
    font-size: 2.5rem;
    text-align: center;
    margin: .5em;
}

fieldset {
    min-width: 0;
    padding: 1em 0;
    margin: 0;
    border: 0;
    align-content: center;
}
.logo {
    display: block;
    width: 15em; /* Adjust the width as needed */
    margin: 0 auto 1em; /* Center the logo and add some margin at the bottom */
  }
.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 350px;
}

.form--login > fieldset > input[type="email"] {
    width: 100%;
}

.login--label {
    font-size: large;
    margin:1.5em;
}
fieldset.login{
    display: flex;
    
    align-items: center;
 align-items: center;
   
    width: 100%;
    max-width: 350px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aaafb4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border;
}

.login{
    justify-content: center;

}
.link--register{
    justify-content: center;
    margin-top:1em;
}
.login--button  {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2196f3;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    align-self: center;
    align-content: center;
    margin-top:1em;
}